+++
title = "metodebok"
linkTitle = "metodebok"

+++

{{< blocks/cover title="Velkommen til metodeboken!" image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
		Komme i gang <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/ousmetodebok/vigilant-octo-giggle">
		Download <i class="fab fa-github ml-2 "></i>
	</a>
	
	<p class="lead mt-5">Nå med ICD-10 koder!</p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
Metodeboken skal hjelpe kirurger i hånd- og mikro kirurgi avdelingen.

(Prøve denne nettsiden og se hva du syns. Det er basert på [Docsy](https://docsy.dev))
{{% /blocks/lead %}}

{{< blocks/section color="dark" >}}
{{% blocks/feature icon="fa-solid fa-hand-sparkles" title="Fra dig 1 til dig 5, vi passer på alt" %}}
Se her for metodeboken

Please follow this space for updates!
{{% /blocks/feature %}}


{{< /blocks/section >}}


{{< blocks/section >}}
<div class="col">
<h1 class="text-center">Er du spent?</h1>
</div>

{{< /blocks/section >}}



{{< blocks/section >}}



{{% blocks/feature icon="fab fa-github" title="Bidrag velkommen!" url="https://github.com/ousmetodebok/vigilant-octo-giggle" %}}
Prøve en [Pull Request](https://github.com/ousmetodebok/vigilant-octo-giggle/pulls) på **GitHub**. Alle velkommen!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-twitter" title="Følg oss på Twitter!" url="https://twitter.com/garfjeld" %}}
Trenger vi dette? Kanskje ikke...
{{% /blocks/feature %}}


{{< /blocks/section >}}

{{< blocks/section >}}

<div class="col-12">
<h1 class="text-center">Flere ting å si?</h1>
</div>

{{< /blocks/section >}}
